/* ********************BLOCK 1******************************** */
.block-1{
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-top: 100px;

}

.block-2{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.search {
    width:  90%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    margin: auto;
    padding: 12px 20px;
    align-items: center;
}

.filter{
 display: flex;
 flex-direction: row;
 align-items: center;
 flex-wrap: wrap;
 justify-content: space-evenly;
 margin: 20px;
}
  
  .expand{
     margin-left: 20px;
  }

.price-button{
    position: relative;
    width: 150px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    background-color: white;
    text-align: center;
}

.price-filter{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  padding: 0.5rem;
  margin: 10px auto;  	
  width: 500px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1;
}

.set-price{
  width: 100px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: aquamarine;
}

.model-year-button{
  position: relative;
  width: 150px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  background-color: white;
  text-align: center;
}

.model-year-filter{
    position: absolute;
    width: 500px;
    height: 300px;
    background-color:white;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 1;
    margin-top: 10px;
}

.km-driven-button{
  position: relative;
  width: 150px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  background-color: white;
  text-align: center;
}

.km-driven-filter{
  position: absolute;
  width: 500px;
  height: 300px;
  background-color:white;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1;
  margin-top: 10px;
}

.RTO-button{
  position: relative;
  width: 150px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  background-color: white;
  text-align: center;
}

.RTO-filter{
  position: absolute;
  width: 500px;
  height: 300px;
  background-color:white;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1;
  margin-top: 10px;
}

.make-model-button{
  position: relative;
  width: 150px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  background-color: white;
  text-align: center;
}

.make-model-filter{
  position: absolute;
  width: 500px;
  height: 300px;
  background-color:white;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1;
  margin-top: 10px;
  overflow: auto;
}

.More-filters-button{
  position: relative;
  width: 150px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  background-color: white;
  text-align: center;
}

.More-filters-filter{
  position: absolute;
  width: 500px;
  height: 300px;
  background-color:white;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 2;
  margin-top: 10px;
}

.input-field{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.input-field-name{
  display: grid;
  gap: 60px;
  grid-template-columns: auto auto;
  justify-content: space-evenly;

}



/* ********************BLOCK 2************************** */
.card{
    margin: auto;
}

.card-price{
    font-size: 1.4rem;
    font-weight: bold;
    color: orange;
}

.cars-card{
    padding: 15px 50px;
}


/* *********************************** */
.model-lowest-year{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
  float:  left;
  padding: 5px 5px;
}

.model-highest-year{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2; 
  float: right;
  padding: 5px 5px;
}
.more-info{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
.small-buttons{
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  width: 70px;
  height: 30px;
  margin: auto;
  padding-top: 6px;
  font-size: 12px;
  align-items: center;
  text-align: center;
  background-color: rgb(121, 206, 218);
}