.page-not-found{
 margin: 4rem;
 text-align: center;
}

img{
  width: 30%;
  height: 30%;
}

.page-not-found-btn{
  outline: none;
  background-color: rgb(46, 72, 221);
  color: white;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 10px 10px;
}