.container-fluid{
    margin: 0;
    padding: 0;
    display: inline;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    left: 0;
    right: 0;   
    z-index: 999;
}

.navbar{
 display: flex;
 flex-direction: row;
 box-shadow: 1px 2px 1px #000000;
 z-index: inherit;
 width: 100%;
 background-color: white;
}

.navItems{
 display: flex;
 flex-direction: row;
 align-items: center; 
}

.logo{
    width: 200px;
    height: 50px;
}

.arrow{
    margin-left: 5px;
    width: 10px;
    height: 8px;
}

ul{
    list-style-type: none;
}

.dropdown{
    position: relative;
    display: inline-block;
    padding: 12px 16px;
}

.dropdown:hover{
    background-color: chocolate;
    color: white;
}
.dropbtn{
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
    background-color: chocolate;
    color: white;
}

.user{   
  position: absolute;
  cursor: pointer;
  right: 0;
  margin-right: 10rem;
  align-items: center;
}

.user-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.user:hover .user-content{
    display: flex;
    flex-direction: column;
}

.user-content a{
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.user-content a:hover{
    background-color:chocolate;
    color: white;
}

.home{
    text-decoration: none;
    color: black;
    padding: 12px 30px;
}
.home:hover{
    background-color: chocolate;
    color: white;
}

.update-data{
    text-decoration: none;
    color: black;
    padding: 15px;
}

.update-data:hover{
    background-color: chocolate;
    color: white;
}

.Logout{
    outline: none;
    border: none;
    color: black;
    background-color: #f9f9f9;
    padding: 12px 16px;
    text-align: start;
    text-decoration: none;
}

.Logout:hover{
    background-color:chocolate;
    color: white;  
}

.user-detail{
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
   
    height: 40px;
    padding:7px;
   
    right: 0;
    margin-right: 4rem;
    color: black;
}

nav li a.active{
    text-decoration: none;
    font-weight: bold;
}

.user a.active{
    text-decoration: none;
    font-weight: bold;
}

.image-card{
   position: absolute;
   background-color: rgb(218, 155, 155);
   height: 3rem;
   width: 3rem;
   border-radius: 50%;
   right: 0;
   justify-items: center;
   margin-right: 1rem;
   cursor: pointer;
}

